html,
body {
  height: 100%;
}

.app-layout {
  min-height: 100vh;
}

/* Sidebar fijo en escritorio */
@media (min-width: 992px) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 240px; // ancho normal
    overflow-y: auto;
    z-index: 1030;
  }

  .content-wrapper {
    margin-left: 240px;
  }

  /* Cuando está colapsado */
  .app-layout.sidebar-collapsed {
    .sidebar {
      width: 72px; // solo iconos
    }

    .content-wrapper {
      margin-left: 72px;
    }

    .sidebar-logo-text {
      display: none;
    }

    .sidebar-header {
      display: none; // header normal oculto
    }

    .sidebar-header-collapsed {
      display: flex !important; // header compacto visible
    }

    .nav-label {
      display: none; // ocultar texto de los links
    }

    .sidebar-icon {
      margin-inline: auto;
      font-size: 1.25rem;
    }
  }

  /* En modo expandido: header compacto oculto */
  .sidebar-header-collapsed {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
    position: static;
  }

  .content-wrapper {
    margin-left: 0;
  }
}

.main-container {
  min-height: 100vh;
  background-color: #f8f9fa;
}

/* Link activo en el menú */
.nav-link {
  border-radius: 0.5rem;
  margin: 0 0.25rem;
}

.nav-link.active {
  background-color: #000000;
  color: #fff !important;
}

/* Botón de colapsar */
.sidebar-toggle-btn {
  border-radius: 15px;
  border: solid 1px #e9e6e6;
  background-color: #e9e6e6 ;
}

.custom-link {
  color: #000000 !important;
  text-decoration: none !important;
}
